<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSFileProviderDomainUsageDescription</key>
	<string>Your description of why you need access to Files app</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>PW_APP_GROUPS_NAME</key>
	<string>group.com.noname.digital.development</string>
	<key>Pushwoosh_APPID</key>
	<string>22192-19DD0</string>
	<key>UIAppFonts</key>
	<array>
		<string>SFProText-Bold.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>FontsFree-Net-SFProDisplay-Regular.ttf</string>
		<string>SFProText-Bold.ttf</string>
		<string>sub.ttf</string>
		<string>Inter-Regular.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
